@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger, .logo, .ellipsis { display: none; }

header { background-color: #1f3145; }

.menu ul li { margin-right: 14px; }

.social-icons li { margin: 2px 15px 0 0; }

.social-icons li:last-of-type { padding-right: 0; }

.facebook::before { content: "\f09a"; }

.twitter::before { content: "\f099"; }

.instagram::before { content: "\f16d"; }

.googleplus::before { content: "\f0d5"; }

header .wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;  
}

.menu li a {
  padding: 18px 16px;
  border-top: 2px solid #162e44;
  color: #fff;  
  font-size: 17px;
  letter-spacing: 1px; 
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.facebook, .twitter, .googleplus, .instagram { 
  display: inline-block;
  text-indent: -9999px;
}

.facebook::before, .twitter::before, .instagram::before, .googleplus::before {
  font-family: 'FontAwesome';
  float: right;
  text-indent: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu .active-menu {
  border-top: 3px solid #3cb2a5;
  background-color: #384859;  
}

.social-icons li a { 
  font-size: 18px; 
  color: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/
.banner .wrapper { width: 100%; }

.banner .slide { position: relative; }

.white-button::first-letter { text-transform: capitalize; }

.banner .banner-content {
  margin-left: 5%;
  position: absolute;
  top: 30%;
  bottom: 0;  
  left: 0;
  color: #fff;
}

.banner-content .uppercase {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;  
}

h2 {
  margin: 8px 0 26px;
  font: normal 63px 'sans-serif';
  text-transform: capitalize;
}

h2 span {
  font-weight: bold;
  text-transform: capitalize;
}

.white-button {
  padding: 17px 4.5%;
  border: 2px solid;
  color: #fff;
  font-size: 17px;  
  letter-spacing: 0.5px;
  transition: 0.5s ease;
}
/*=================================
  banner section styling ends here
=================================*/
/*=================================
  tours section styling starts here
=================================*/ 
.tours .wrapper { width: 89.6%; }

.tours figure { position: relative; }

.tours {
  top: -74px;
  position: relative;
  padding-bottom: 119px;
}

.tours ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tours li { 
  width: 31.7%;
  position: relative;
}

.tours span {
  position: absolute;
  bottom: 54px;
  left: 20%;
  display: block;
  color: #fff;
  font: bold 24px 'sans-serif';
  text-align: center;  
  text-transform: capitalize;  
}

.tours div {
  margin-top: 39px;
  text-align: center; 
}

.tours a {
  position: relative;
  color: #000;
  font: normal 17px 'sans-serif';
  letter-spacing: 0.5px;
  text-transform: capitalize;  
  -webkit-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  transition: all 0.5s ease;
}

.arrow::after {
  content: "\f061";
  position: absolute;
  top: 1px;
  right: -20px;
  bottom: 0;
  font-family: 'FontAwesome';
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*=================================
  tours section styling ends here
=================================*/






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .facebook:hover::before { color: #3b579c; }

  .twitter:hover::before { color: #45aae1; }

  .googleplus:hover::before { color: #ea4335; }

  .instagram:hover::before { color: #bf0071; }

  .tours a:hover, .tours a:hover::after { color: #3cb2a5; }

  .tours a:hover::after { animation: arrow 0.5s alternate; }

  @keyframes arrow{
    0%    {  right: -20px;  }
    100%  {  right: -30px;  }
  } 

  .menu li a:hover {
    border-top: 3px solid #3cb2a5;
    background-color: #384859;  
  }

  .white-button:hover {
    border: 2px solid #3cb2a5;
    background-color: #3cb2a5;
    color: #fff;
  }  
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {



}  

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {



}  

/*media query for 340px starts here*/
@media only screen and (max-width: 340px) {



}  