@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger, .logo, .ellipsis { display: none; }

header { background-color: #1f3145; }

.menu ul li { margin-right: 14px; }

.social-icons li { margin: 2px 15px 0 0; }

.social-icons li:last-of-type { padding-right: 0; }

.facebook::before { content: "\f09a"; }

.twitter::before { content: "\f099"; }

.instagram::before { content: "\f16d"; }

.googleplus::before { content: "\f0d5"; }

header .wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;  
}

.menu li a {
  padding: 18px 16px;
  border-top: 2px solid #162e44;
  color: #fff;  
  font-size: 17px;
  letter-spacing: 1px; 
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.facebook, .twitter, .googleplus, .instagram { 
  display: inline-block;
  text-indent: -9999px;
}

.facebook::before, .twitter::before, .instagram::before, .googleplus::before {
  font-family: 'FontAwesome';
  float: right;
  text-indent: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu .active-menu {
  border-top: 3px solid #3cb2a5;
  background-color: #384859;  
}

.social-icons li a { 
  font-size: 18px; 
  color: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/
.banner .wrapper { width: 100%; }

.banner .slide { position: relative; }

.white-button::first-letter { text-transform: capitalize; }

.banner .banner-content {
  margin-left: 5%;
  position: absolute; 
  top: 50%;
  left: 0;
  color: #fff;
  transform: translate(0, -50%);
}

.banner-content .uppercase {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;  
}

h2 {
  margin: 8px 0 26px;
  font: normal 63px 'sans-serif';
  text-transform: capitalize;
}

h2 span {
  font-weight: bold;
  text-transform: capitalize;
}

.white-button {
  padding: 17px 4.5%;
  border: 2px solid;
  color: #fff;
  font-size: 17px;  
  letter-spacing: 0.5px;
  transition: 0.5s ease;
}

.blue-button {
  padding: 17px 4.5%;
  border: 2px solid;
  color: #fff;
  font-size: 17px;  
  letter-spacing: 0.5px;
  transition: 0.5s ease;
}
/*=================================
  banner section styling ends here
=================================*/
/*=================================
  tours section styling starts here
=================================*/ 
.tours .wrapper { width: 89.6%; }

.tours figure { position: relative; }

.tours {
  top: -74px;
  position: relative;
  padding-bottom: 119px;
}

.tours ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tours li { 
  width: 31.7%;
  position: relative;
}

.tours span {
  width: 100%;
  position: absolute;
  bottom: 54px;
  display: block;
  color: #fff;
  font: bold 24px 'sans-serif';
  text-align: center;  
  text-transform: capitalize;  
}

.tours div {
  margin-top: 39px;
  text-align: center; 
}

.tours a {
  position: relative;
  color: #000;
  font: normal 17px 'sans-serif';
  letter-spacing: 0.5px;
  text-transform: capitalize;  
  -webkit-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  transition: all 0.5s ease;
}

.arrow::after {
  content: "\f061";
  position: absolute;
  top: 1px;
  right: -20px;
  bottom: 0;
  font-family: 'FontAwesome';
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*=================================
  tours section styling ends here
=================================*/
/*=================================
  about section styling starts here
=================================*/ 
.about .tab-content > li:not(:first-child) { display: none; }

.about .wrapper { width: 89%; }

.black-button::first-letter, .blue-button::first-letter { text-transform: capitalize; }

.about .blue-button { margin-right: 15px; }

.about-wrapper > li { width: 48.2%; }

.about-wrapper, .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 45px 3.8% 0;
}

h3 {
  margin-bottom: 25px;
  font: 600 32.5px 'sans-serif';
  text-transform: capitalize;
}

.tab a {
  padding-bottom: 7px;
  border-bottom: 3px solid #e0e0e0;
  color: #bbadab;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  -webkit-transition: 0.5s ease; 
  -o-transition: 0.5s ease; 
  transition: 0.5s ease;
}

.tab-list .active-tab {
  border-bottom: 3px solid #3cb2a5;
  color: #3cb2a5;
}

.tab-content p {
  margin: 30px 0 35px;
  color: #7c7c7c;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.black-button {
  padding: 18px 42px;
  border: 2px solid;
  color: #000;
  font-size: 17px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blue-button {
  padding: 18px 42px;
  border: 2px solid #3cb2a5;
  background-color: #3cb2a5;
  color: #fff; 
  font-size: 17px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*=================================
  about section styling ends here
=================================*/ 
/*=================================
  team section styling starts here
=================================*/ 
.team .wrapper { width: 90%; }

.name { font: bold 18px 'sans-serif'; }

.team .team-members img { border-radius: 50%; }

.team-members li { width: 23%; }

.team {
  padding: 98px 0;
  text-align: center;
}

.team-members {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-members li figure {
  width: 48%;
  margin: 0 25%;
}

.member-details {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 39px 0 46px;
  background-color: #f7f7f7;
}

.member-details span {
  display: block;
  text-transform: capitalize;
}

.post {
  margin: 7px 0;
  color: #3cb2a5;
  font: bold 14px 'sans-serif';
  letter-spacing: 0.5px;  
}

.contact-number a {
  color: #000;
  font: bold 20px 'sans-serif';
}
/*=================================
  team section styling ends here
=================================*/ 
/*=================================
  booking section styling starts here
=================================*/ 
.booking-content div { margin-top: 32px; }

.booking-content p { line-height: 25px; }

.booking a .lowercase { text-transform: lowercase; }

.mobileView img { display: none; }

.booking .wrapper {
  width: 100%;
  position: relative;
}

.booking-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.booking a { 
  padding: 13px 33px;
  text-transform: capitalize; 
}

h4 .bold {
  display: block;
  font: bold 47px 'sans-serif'; 
  letter-spacing: 1px;
}

h4 span:last-of-type {
  margin: 2px 0 20px;
  display: block;
  font-size: 47px; 
  letter-spacing: 3px;
}
/*=================================
  booking section styling ends here
=================================*/ 
/*=================================
  counter section styling starts here
=================================*/ 
.counter { padding: 80px 0px; } 

.counter .wrapper { width: 89.7%; } 

.counter-content span { display: block; }

.more { position: relative; }

.more span { display: inline-block; }

.counter ul li:last-of-type .counter-content { padding: 61px 29%; }

.counter ul li:nth-of-type(2) .counter-content { padding: 73px 29%; }

.counter, .counter figure, .counter-block { 
  position: relative;
  text-align: center;
}

.counter-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 61px 23%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-transform: capitalize;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}

.counter ul {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.plus {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  text-indent: -9999px; 
}

.plus::before{
  content: "\f067";
  float: right;
  font: normal 48px 'FontAwesome';
  text-indent: 0;  
}

.counting {
  margin-right: 25px;
  font: bold 74px 'sans-serif';
}

.counter-tag {
  margin-top: 11px;
  font: bold 22px 'sans-serif';
}
/*=================================
  counter section styling ends here
=================================*/ 
/*=================================
  blogs section one styling starts here
=================================*/ 
.blogs-section-one .wrapper, .blogs-section-two .wrapper { width: 90%; }

.blog, .blog figure, .blogs-list-slider { position: relative; }

h5 .lowercase { text-transform: lowercase; }

.blogs-list-slider .slick-slide {  margin:  0 15px 0 15px; }

.blogs-section-one, .blogs-section-two {
  padding-bottom: 135px;
  position: relative;
  text-align: center;
}

.blogs-list-slider .slick-list {
  margin: 0 -15px;
  pointer-events: none;
}

.date {
  color: #3cb2a5;
  font: bold 16px 'sans-serif';
  text-transform: uppercase; 
}

.blog-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  padding: 40px 5% 34px;
  position: absolute;
  bottom: -30px;
  left: 10%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  letter-spacing: 1px;
  text-align: center; 
}

h5 {
  margin-bottom: 23px;
  font: bold 23px 'sans-serif'; 
  text-transform: capitalize; 
}
/*=================================
  blogs section one styling ends here
=================================*/ 
/*=================================
  gallery section one styling starts here
=================================*/ 
.gallery-section-one .wrapper, .gallery-section-two .wrapper { width: 95.5%; }

.gallery-section-one, .gallery-section-two { background-color: #f7f7f7; }

.gallery-section-one h3,  .gallery-section-two h3 {
  padding-bottom: 18px;
  margin: 0 41.5%;
  background-color: #fff;
  font: normal 14px 'sans-serif';
  text-align: center; 
}

.gallery-slider figure { 
  position:relative; 
  -webkit-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  transition: all 0.5s ease;
}

.gallery-lightbox {
  width:100%;
  padding: 25px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}

.gallery-lightbox img{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  cursor: default;
}

.leftArrow, .rightArrow {
  padding: 10px;
  display: inline-block;
  text-indent: -9999px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.leftArrow::before, .rightArrow::before{
  position: absolute;
  float: right;
  font-family: 'FontAwesome';
  cursor: pointer;
  text-indent: 0;
}

.leftArrow::before {
  content: "\f053";
  top: 50%;
  left: 20%;
}

.rightArrow::before{
  content: "\f054";
  top: 50%;
  right: 20%;
}

.cancel {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  font-size: 40px; 
}

.cancel::before{
  content: "\f057";
  float: left;
  color: #fff;
  font-family: 'FontAwesome';
  text-indent: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.active { display: block; }
/*=================================
  gallery section one styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/ 
/*=================================
  footer styling starts here
=================================*/ 
footer .social-icons a { color: #606977; }

footer .wrapper { width: 90%; }

.privacy-terms { margin-left: 22%; }

html { scroll-behavior: smooth; }

.copyright span:first-of-type { text-transform: capitalize; }

footer .social-icons ul li { margin: 2px 20px 0 0; }

footer {
  padding: 27px 0;
  background-color: #1a293c;
  color: #606977;
  font-weight: bold;
}

footer a, footer span { 
  font-size: 13px;
  letter-spacing: 0.5px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.privacy-terms a { 
  color: #606977;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-scroll { 
  display: inline-block;
  position: absolute;
  right: 0;
}

.topBtn {
  display: none;
  text-indent: -9999px; 
}

.topBtn::before {
  content: "\f077";
  padding: 16px 1.5%;
  border: 2px solid #3cb2a5;
  position: fixed;
  right: 3%;
  bottom: 0;
  background-color: #3cb2a5;
  color: #fff; 
  font: normal 15px 'FontAwesome';
  text-indent: 0; 
  -webkit-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  transition: all 0.5s ease;
}

footer .social-icons ul li a {
  color: #606977;
  font-size: 15px;
}

.showBtn { display: block; }
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .facebook:hover::before { color: #3b579c; }

  .twitter:hover::before { color: #45aae1; }

  .googleplus:hover::before { color: #ea4335; }

  .instagram:hover::before { color: #bf0071; }

  .tours a:hover, .tours a:hover::after { color: #3cb2a5; }

  .privacy-terms a:hover { color: #fff; }

  .tours a:hover::after { -webkit-animation: arrow 0.5s alternate; animation: arrow 0.5s alternate; } 

  .leftArrow, .rightArrow, .cancel { color: #3cb2a5; }

  @-webkit-keyframes arrow{
    0%    {  right: -20px;  }
    100%  {  right: -30px;  }
  }

  @keyframes arrow{
    0%    {  right: -20px;  }
    100%  {  right: -30px;  }
  } 

  .menu li a:hover {
    border-top: 3px solid #3cb2a5;
    background-color: #384859;  
  }

  .banner .white-button:hover {
    border: 2px solid #3cb2a5;
    background-color: #3cb2a5;
    color: #fff;
  }  

  .tab a:hover {
    border-bottom: 3px solid #3cb2a5;
    color: #3cb2a5;
  }

  .black-button:hover {
    background-color: #3cb2a5;
    color: #fff;
  }

  .blue-button:hover, .topBtn:hover::before {
    border: 2px solid;
    background-color: #fff;
    color: #000;
  }

  .gallery-section-one .gallery-slider figure:hover:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0; 
    background-color: rgba(0,0,0,0.5);
    cursor: pointer; 
  }
  
  .gallery-section-one .gallery-slider figure:hover:after {
    content: "\f00e";
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font: normal 100 30px 'FontAwesome';
  }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* header styling start */
  .logo { display: block; }

  header .wrapper { 
    width: 90%;
    padding: 30px 0; 
  }
  
  header {
    position: relative;
    background-color: #fff;
  }
  
  .menu { 
    width: 100%;
    height: 100vh;
    position: absolute; 
    z-index: 3;
    top: 0;
    right: 110%;
    background-color: #1f3145;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .show { 
    width: 100%;
    right: 0; 
  }

  .menu ul{
    width: 100%;
    padding-top: 60px;
    text-align: center;  
  }

  .menu ul li {
    padding: 10px 0;
    margin: 0; 
    display: block; 
  }

  .menu li a {
    padding: 8px 15px;
    border-top: none;
  }

  .show .active-menu {
    border: none;
    background-color: #1f3145;
    color: #3cb2a5;
    font-weight: bold;
  }

  .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 20px;
    left: 5%;
  }

  .bar {
    content: '';
    width: 40px;
    margin: 10px 0;
    display: block;
    background-color: #000;
    font-size: 3px;
    text-indent: -99999px;
    -webkit-transition:  0.5s ease;
    -o-transition:  0.5s ease;
    transition:  0.5s ease;
  }
  
  .open .bar-three {
    width: 25px; 
    background-color: #3cb2a5; 
    -webkit-transform: rotate(45deg) translatex(-9px); 
    -ms-transform: rotate(45deg) translatex(-9px); 
    transform: rotate(45deg) translatex(-9px);
  }

  .open .bar-two { background-color: #3cb2a5; }

  .open .bar-one { 
    width: 25px;
    background-color: #3cb2a5; 
    -webkit-transform: rotate(-45deg) translatex(-9px); 
    -ms-transform: rotate(-45deg) translatex(-9px); 
    transform: rotate(-45deg) translatex(-9px); 
  }

  .social-icons { display: none; }

  .showMenu { 
    display: block;
    width: 5%;
    background-color: #000;
    position: absolute;
    top: 30px;
    z-index: 1;
    right: 2.7%;
    border-radius: 50px;
  }

  .social-icons ul{
    width: 100%;
    text-align: center;
    padding-top: 60px;
  }

  .social-icons ul li {
    margin: 0; 
    padding: 10px 0;
    display: block; 
  }

  .social-icons li a {
    padding: 8px 15px;
    border-top: none;
    color: #fff;
  }

  .ellipsis {
    display: block;
    position: relative;
    cursor: pointer;
    top: 0;
    right: 5%;
    z-index: 2;
  }

  .menu-wrap, .menu { cursor: pointer; }

  .dot {
    content: '';
    width: 5px;
    margin: 5px 0;
    border-radius: 50%;
    display: block;
    background-color: #000;
    font-size: 5px;
    text-indent: -99999px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .dropDown {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 5px;
  }

  .dropDown .dot { background-color: #3cb2a5; }
  /* header styling end */

  .tours { position: static; }

  .about .wrapper {  width: 90%; }

  .team-members li { width: 34%; }

  .desktopView img { display: none; }

  .mobileView img { display: block; }

  .booking-content { width: 64%; }
  
  footer .social-icons { display: block; }

  footer .social-icons ul li {  margin: 0 20px; }

  .privacy-terms {  margin: 0; }

  .about-wrapper > li {
    width: 100%;
    display: block;
  }

  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .team-members {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .counter ul, footer ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;  
  }

  .counter ul li {
    width: 40%;
    margin-bottom: 20px;
    display: block;
  }

  .social-icons ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
  }
}  

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {
  .counter-content { padding: 20px 12%; }

  .counter ul li:nth-of-type(2) .counter-content { padding: 32px 21%; }

  .counter ul li:last-of-type .counter-content { padding: 18px 20%; }

  .showMenu {
    width: 6%;
    right: 2.3%;
  }

  .tours ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;  
  }

  .tours ul li {
    width: 50%;
    margin-bottom: 20px;
    position: relative;
  }
}  

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .banner-content .uppercase { font-size: 15px; }

  .banner .white-button { font-size: 11px; }

  h2 { font-size: 30px; }

  h3 { font-size: 25px; }

  .team-members li { width: 51%; }

  .black-button, .white-button { font-size: 15px; }

  h4 span:last-of-type, h4 .bold { font-size: 24px; }

  .counter-content { padding: 17px 14%; }

  .counter-tag { font-size: 15px; }

  .plus::before { font-size: 20px; }

  .plus { top: 13px; }

  .showMenu {
    width: 9%;
    right: 1.2%;
  }

  .counting {
    margin-right: 5px;
    font-size: 44px;
  }
}  

/*media query for 340px starts here*/
@media only screen and (max-width: 340px) {
  .about .blue-button {  margin: 10px 0; }

  h3 ,.tab-content { text-align:center; }
  
  .desktopView img { display: block; }
  
  .blue-button { font-size: 15px; }

  .tours ul li { width: 90%; }

  footer .social-icons ul li { margin: 0 3px; }

  .counter ul li { width: 66%; }

  .showMenu {
    width: 14%;
    right: 0%;
  }
  
  .tab-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }

  .copyright span {
    display: block;
    margin-bottom: 10px;
  }
}  